.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 1rem;
    flex: 3; 
}

.product-item {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(33.333% - 1rem);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}
.product-item:hover {
    background-color: #f9f9f9;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.cart-item {}
.cart-item img, .cart-item p {
    display: inline-block;
    vertical-align: middle;
}
.cart-item img {
    width: 50px;
}

.shopping-cart {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 310px;
    max-height: 500px;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #666;
    position: fixed;
    right: 0;
    top: 10%;
    overflow-y: auto;
}

#country-flag {
    width: 100%;
    padding: 20px;
}
#country-flag img {
    vertical-align: middle;
}
#cart-items {
    text-align: left;
}

@media (max-width: 768px) {
    .product-item {
        flex: 1 1 calc(50% - 1rem);
    }

    .shopping-cart {
        width: 250px; /* Ajustar el ancho para pantallas medianas */
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .product-item {
        flex: 1 1 100%;
    }
    .product-item img {
        width: 60%;
    }
    .shopping-cart {
        width: 100%; /* Ajustar el ancho para pantallas pequeñas */
        margin-top: 50px;
        order: -1;
        height: 200px;
    }
    .main-content {
        padding: 0px;
    }
    .product-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
    }
    #country-flag {
        padding: 20px 0px;
        margin-top: 200px;
    }
}
